body {
    background-color: #F8F8F8;
}

section {
    &.loginsection {
        // background-color: #ffffff;
        border-radius: 15px;
        // box-shadow: 1px 1px 1px 1px #dddddd;

        img {
            &.size{
                width: 150px;
            }
      
            &.img-fluid {
                width: 70%;
                -webkit-animation: myOrbit 7s linear infinite;
                /* Chrome, Safari 5 */
                -moz-animation: myOrbit 7s linear infinite;
                /* Firefox 5-15 */
                -o-animation: myOrbit 7s linear infinite;
                /* Opera 12+ */
                animation: myOrbit 8s linear infinite;
    
                /* Chrome, Firefox 16+, 
                                                               IE 10+, Safari 5 */
            }
        }

        @-webkit-keyframes myOrbit {
            from {
                -webkit-transform: rotate(0deg);
            }

            to {
                -webkit-transform: rotate(360deg);
            }
        }

        @-moz-keyframes myOrbit {
            from {
                -moz-transform: rotate(0deg);
            }

            to {
                -moz-transform: rotate(360deg);
            }
        }

        @-o-keyframes myOrbit {
            from {
                -o-transform: rotate(0deg);
            }

            to {
                -o-transform: rotate(360deg);
            }
        }

        @keyframes myOrbit {
            from {
                transform: rotate(0deg);
            }

            to {
                transform: rotate(360deg);
            }
        }

        .linkStyle {
            color: black;
            font-family: 'Amiri', serif;
            font-size: 25px;
        }

        .colortext {
            color: #ffffff;
            font-family: 'Amiri', serif;
        }
        .form-color{
            background-color: #57b7b6;
      
        }

        form {
         
            height: 100%;
            p{
                color: #ffffff;
            }
            .text {
                font-family: 'Amiri', serif;
                font-size: 25px;
            }

            .btn {
                color: #57b7b6;
                font-weight: 600;
                font-family: 'Amiri', serif;
            }

            .btn-color {
                background-color: #ffffff;


                &:hover {
                    background-color: #dddddd;
                    transition: all 0.25s ease-in-out;
                    color: #000000;
                }
            }

            .form-group {
                position: relative;
                font-family: 'Markazi Text', serif;

                .icon {
                    position: absolute;
                    top: 8px;
                    color: #ffffff;
                }

                .eyeicon {
                    position: absolute;
                    top: 8px;
                    left: 180px;
                    color: #ffffff;
                    @media (max-width:1000px) {
                        left: 5%;
                    }
                }

                .forget-text {
                    color: #ffffff;
                }

                .size {
                    width: 40px;
                    border: 2px solid #dddddd;
                    border-radius: 5px;

                    &:focus,
                    &:hover {
                        border: 2px solid #367d7c;
                        border-radius: 5px;
                    }
                }

                .form-control {
                    padding-right: 30px;
                    background-color: transparent;
                    width: 60%;
                    border: none;
                    border-bottom: 2px solid #dddddd;
                    border-radius: 0;

                    @media (max-width:1000px) {
                        width: 100%;
                    }
                    &::placeholder{
                        color: #ffffff;
                    }
                    &:focus,
                    &:hover {
                        box-shadow: none;
                        border-bottom: 2px solid #367d7c;
                        transition: all 0.25s ease-in-out;

                    }
                }
            }
        }

    }
}