.preview{
    p{
        list-style-type:arabic-indic;
                    direction:RTL; text-align: right;
                    font-family: 'Amiri', serif;
                    font-size: 18px;
                    &.text-style{
                        text-decoration: underline;
                        text-align: center;
                        font-size: 25px;
                    }
    }
    .img-fluid{
        width: 90px;
    }
    hr{
        border: 1px solid #000000;
    }
    .icon{
        color:  #367d7c;
        font-size: 20px;
        cursor: pointer;
        @media print {
         
              display: none;
            
          }
    }
}

        .page-num{
            z-index: 3;
            color: #fff;
            background-color: #367d7c;
            border-color: #367d7c;
            border-radius: 5px;
            font-size: 18px;
            &:hover{
                background-color:  #F8F8F8;
                color: #367d7c;
            }
        }
 
